@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
:root {
    --dark-blue: #134880;
    --light-gray: #DDDDDD;
    --dark-gray: #47494C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1920px;
    height: 730px;
}

/*header -------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 941px;
    height: 100px;
    right: 489px;
    top: 0px;
}

.header-left {
    background-color: var(--light-gray);
    width: 301px;
    height: 100px;
    margin-right: 19px;
    border-radius: 0px 0px 5px 5px;
}

.header-right {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    width: 621px;
    height: 100px;
    padding-left: 80px;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    color: white;
}

/*footer -------------------------------------------------------------------*/

footer {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    position: absolute;
    width: 941px;
    height: 100px;
    right: 489px;
    bottom: 0px;
    padding-left: 80px;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    color: white;
}

/*image slider -------------------------------------------------------------------*/

.slider-row {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 9px;
    overflow: hidden;
}

.slider-row>img {
    height: 200px;
    width: auto;
    border-radius: 5px;
    position: relative;
}

.top-row {
    position: absolute;
    width: 1230px;
    height: 200px;
    left: -120px;
    top: 160px;
}

.bot-row {
    position: absolute;
    width: 1080px;
    height: 200px;
    left: -130px;
    bottom: 160px;
}

/*slider buttons ----------------------------------------------*/

.slider-btns {
    position: absolute;
    width: 60px;
    height: 130px;
    right: 810px;
    bottom: 230px;
}

.slider-btns>button:last-child {
    margin-top: 10px;
}

.slider-btns>button {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

#prevSlide {
    border: 1px solid var(--light-gray);
}

#nextSlide {
    border: 1px solid var(--dark-blue);
}

/*
.slider-btns>button:hover, .slider-btns>button:active {
    border: 1px solid var(--dark-blue);
}

#prevSlide:hover>img, #prevSlide:active>img {
    content: url("./images/arrow-blue-left.png");
}

#nextSlide:hover>img, #nextSlide:active>img {
    content: url("./images/arrow-blue-right.png");
}
*/

/*slider info text --------------------------------------------------------*/

.slider-info {
    position: absolute;
    width: 301px;
    height: 296px;
    right: 489px;
    top: 160px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
}

.slider-info h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.2px;
    color: var(--dark-blue);
}

.slider-info p {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: var(--dark-gray);

    margin-top: 20px;
}