@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*header -------------------------------------------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 941px;
  height: 100px;
  margin: auto;
  margin-bottom: 60px;
}

.header-left {
  background-color: #dddddd;
  width: 301px;
  height: 100px;
  margin-right: 19px;
  border-radius: 0px 0px 5px 5px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
  width: 621px;
  height: 100px;
  padding-left: 80px;
  border-radius: 0px 0px 5px 5px;
  font-size: 15px;
  color: white;
}

/*footer -------------------------------------------------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
  width: 941px;
  height: 100px;
  margin: auto;
  padding-left: 80px;
  border-radius: 0px 0px 5px 5px;
  font-size: 15px;
  color: white;
}

/*image slider -------------------------------------------------------------------*/
.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 941px;
  margin: auto;
  margin-bottom: 60px;
}

.slider-rows-container {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 620px;
}

.slider-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.slider-row > img {
  height: 200px;
  width: auto;
  border-radius: 5px;
}

.no-transitions {
  -webkit-transition: none;
  transition: none;
}

.top-row {
  margin-bottom: 10px;
}

.bot-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bot-row {
  width: 460px;
}

/*slider buttons ----------------------------------------------*/
.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 100px;
  z-index: 100;
  background-color: white;
}

.slider-btns > button {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.slider-btns > button:last-child {
  margin-top: 10px;
}

#btnScrollLeft {
  border: 1px solid #dddddd;
}

#btnScrollLeft:hover, #btnScrollLeft:active {
  border: 1px solid #134880;
}

#btnScrollLeft:hover > img, #btnScrollLeft:active > img {
  content: url("./images/arrow-blue-left.png");
}

#btnScrollRight {
  border: 1px solid #dddddd;
}

#btnScrollRight:hover, #btnScrollRight:active {
  border: 1px solid #134880;
}

#btnScrollRight:hover > img, #btnScrollRight:active > img {
  content: url("./images/arrow-blue-right.png");
}

/*slider info text --------------------------------------------------------*/
.slider-info {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  padding-left: 20px;
  z-index: 100;
  background-color: white;
}

.slider-info h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: -0.2px;
  color: #134880;
}

.slider-info p {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.2px;
  color: #47494c;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */