@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");

$color-dark-blue: #134880;
$color-light-gray: #dddddd;
$color-dark-gray: #47494c;

$font-main: "Source Sans Pro", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header -------------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    width: 941px;
    height: 100px;
    margin: auto;
    margin-bottom: 60px;
}

.header-left {
    background-color: $color-light-gray;
    width: 301px;
    height: 100px;
    margin-right: 19px;
    border-radius: 0px 0px 5px 5px;
}

.header-right {
    display: flex;
    align-items: center;
    background-color: $color-light-gray;
    width: 621px;
    height: 100px;
    padding-left: 80px;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    color: white;
}

/*footer -------------------------------------------------------------------*/

footer {
    display: flex;
    align-items: center;
    background-color: $color-light-gray;
    width: 941px;
    height: 100px;
    margin: auto;
    padding-left: 80px;
    border-radius: 0px 0px 5px 5px;
    font-size: 15px;
    color: white;
}

/*image slider -------------------------------------------------------------------*/
.slider-container {
    display: flex;
    flex-direction: row;
    width: 941px;
    margin: auto;
    margin-bottom: 60px;

    .slider-rows-container {
        order: -1;
        width: 620px;

        .slider-row {
            display: flex;
            flex-direction: row-reverse;
            column-gap: 9px;
            transition: transform 1s linear;

            > img {
                height: 200px;
                width: auto;
                border-radius: 5px;
                position: relative;
            }
        }

        .no-transitions {
            transition: none;
        }

        .top-row {
            margin-bottom: 10px;
        }

        .bot-row-container {
            display: flex;
            flex-direction: row;

            .bot-row {
                width: 460px;
            }
            /*slider buttons ----------------------------------------------*/
            .slider-btns {
                display: flex;
                flex-direction: column;
                margin-left: auto;

                > button {
                    background-color: white;
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;

                    &:last-child {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    #btnScrollLeft {
        border: 1px solid $color-light-gray;
    }

    #btnScrollRight {
        border: 1px solid $color-dark-blue;
    }

    /*slider info text --------------------------------------------------------*/

    .slider-info {
        font-family: $font-main;
        font-style: normal;
        margin-left: 20px;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.2px;
            color: $color-dark-blue;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: -0.2px;
            color: $color-dark-gray;
            margin-top: 20px;
        }
    }
}
